section.my-works
  .container
    h2.my-works__title.section-title
      span My works
    ul.my-works__list
      li.my-works__item
        picture
          source(
            type="image/webp"
            srcset="img/webp/my-works/artactive.webp"
            media="(min-width: 375px)"
            )
          source(
            type="image/webp"
            srcset="img/webp/my-works/artactive-mobile.webp"
            )
          source(
            type="image/webp"
            srcset="img/my-works/artactive.jpg"
            media="(min-width: 375px)"
            )
          img(src="img/my-works/artactive-mobile.jpg", alt="Preview of my work").my-works__image
        .my-works__description-wrapper
          a(
            href="https://sergeykuzin.github.io/portfolio/artactive/index.html"
            target="_blank"
            title="Go to website"
            ).my-works__project-title ArtActive
          ul.my-works__implementation-list
            li.my-works__implementation-item HTML
            li.my-works__implementation-item CSS
            li.my-works__implementation-item JavaScript
          ul.my-works__project-tested-list
            li.my-works__project-tested-item Google Chrome 83
            li.my-works__project-tested-item Interner Explorer 11 
            li.my-works__project-tested-item Microsoft Edge 83 
            li.my-works__project-tested-item Safari 10
            li.my-works__project-tested-item Firefox 77
            li.my-works__project-tested-item Lighthouse 5.7.1 
          .my-works__project-actions
            a(
              href="https://sergeykuzin.github.io/portfolio/artactive/index.html"
              target="_blank"
              ).my-works__project-on-website.btn Go to website
            a(
              href="https://github.com/sergeykuzin/artActive-portfolio-"
              target="_blank"
              ).my-works__project-on-github.btn Project on github
      li.my-works__item
        picture
          source(
            type="image/webp"
            srcset="img/webp/my-works/sparta.webp"
            media="(min-width: 375px)"
            )
          source(
            type="image/webp"
            srcset="img/webp/my-works/sparta-mobile.webp"
            )
          source(
            type="image/webp"
            srcset="img/my-works/sparta.jpg"
            media="(min-width: 375px)"
            )
        img(src="img/my-works/sparta.jpg", alt="Preview of my work").my-works__image
        .my-works__description-wrapper
          a(
            href="https://sergeykuzin.github.io/portfolio/sparta/index.html"
            target="_blank"
            title="Go to website"
            ).my-works__project-title Sparta 
          ul.my-works__implementation-list
            li.my-works__implementation-item HTML
            li.my-works__implementation-item CSS
            li.my-works__implementation-item JavaScript
          ul.my-works__project-tested-list
            li.my-works__project-tested-item Google Chrome 83
            li.my-works__project-tested-item Interner Explorer 11 
            li.my-works__project-tested-item Microsoft Edge 83 
            li.my-works__project-tested-item Safari 10
            li.my-works__project-tested-item Firefox 77
            li.my-works__project-tested-item Lighthouse 5.7.1 
          .my-works__project-actions
            a(
              href="https://sergeykuzin.github.io/portfolio/sparta/index.html"
              target="_blank"
              ).my-works__project-on-website.btn Go to website
            a(
              href="https://github.com/sergeykuzin/sparta---portfolio"
              target="_blank"
              ).my-works__project-on-github.btn Project on github
